{{!-- header starts --}}
<header class="header">
    <div class="taskbar">
    <div class="taskbar__name">
        <!-- <form action="" ></form> -->
        <input type="search" name="searchBox" id="searchBox" class="taskbar__search">
        <button class="searchBtn" form="searchBox" value="submit"><i class="fas fa-search"></i></button>
        
         <div href="#" class="taskbar__bell">
            <i class="fas fa-bell">
            </i>
            <ul class="annouce_list">
                {{#each lcAnnouce.display}}
                <li><a href="/consultation/detail/{{this.id}}" class="annouce__item ">
                    <div class="item__img">
                        <img src="/img/{{this.img}}" alt="">
                    </div>
                    <div class="item__content">
                        <i>Yêu cầu tư vấn</i>
                        <p>{{this.name}}</p>
                    </div>
                </a></li>
                {{/each}}
                {{#each lcAnnouceForPatient.annouceForPatient}}
                <li><a href="/consultation/reply/{{this.id_rep}}" class="annouce__item ">
                    <div class="item__img">
                        <img src="/img/{{this.img}}" alt="">
                    </div>
                    <div class="item__content">
                        <i>Trả lời tư vấn</i>
                        <p>{{this.name}}</p>
                    </div>
                </a></li>
                {{/each}}
                <a href="#"><span>XEM TẤT CẢ</span></a>
            </ul>
        </div>
        <div class="taskbar__user">
            {{#if lcIsAuthenticated}}
                <a href="#" class="user">
                    <img src="/img/{{lcAuthUser.img}}" alt="" class="taskbar__user__img">
                    <ul class="user__options">
                        <li><a href="/setting" class="login">Cài đặt</a></li>
                        <li><a href="/logout" class="regist">Đăng xuất</a></li>
                    </ul>
                </a>
            {{else}}
                <a href="#" class="user">
                <i class="fas fa-user"></i>
                <ul class="user__options">
                    <li><a href="/login" class="login">Đăng nhập</a></li>
                    <li><a href="/register" class="regist">Đăng ký</a></li>
                </ul>
                </a>
            {{/if}}
        </div>
    </div>
</div>

<div class="menu">
    <div class="menu__main">                                              
        <a href="/" class="logo"><i class="fas fa-capsules"></i><span>O</span>Clinic</a>
        <ul class="menu__list">
            <li class="menu__item"><a href="/">Trang chủ</a></li>
            <li class="menu__item"><a href="/intro">Giới thiệu</a></li>
            <li class="menu__item news"><a href="/news">Tin tức</a></li>
            <li class="menu__item doctors"><a href="/doctors">Bác sĩ
                <ul class="doctor">
                    <li><a href="/doctors/department/DEP1">Ngoại khoa</a></li>
                    <li><a href="/doctors/department/DEP2">Nội Khoa</a></li>
                    <li><a href="/doctors/department/DEP3">Nhi Khoa</a></li>
                </ul>
            </a></li>
            <li class="menu__item large"><a href="/articles">Bài viết chuyên môn</a></li>
            <li class="menu__item active"><a href="/consultation">Tư vấn</a></li>
            <li class="menu__item"><a href="/contact">Liên hệ</a></li>
        </ul>
    </div>
</div>
</header>

{{!-- header ends --}}

<!-- home starts -->

<section class="home cltHome">
    <div class="consultation" id="consultation">
        <div class="content">
            <div class="clt-title">
                <h2 class="logo"><i class="fas fa-capsules"></i><span>O</span>Clinic</h2>
                <h2 class="tit">Gửi yêu cầu tư vấn khám bệnh</h2>
            </div>
            <form action="/consultation/sent" method="POST" class="clt-form" id="clt-form" enctype="multipart/form-data">
                <div class="service">
                    <div class="form-group">
                        <div class="degree">
                            <select class="form-select" aria-label="Default select example" name="service">
                                <option selected>Dịch vụ</option>
                                {{#each display}}
                                <option value="{{this.id_service}}" class="{{this.id_dep}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                            {{#if errorService}}
                            <span>Bạn chưa chọn dịch vụ </span>
                            {{/if}}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="doctor">
                            <select class="form-select" aria-label="Default select example" name="doctor">
                                <option selected>Chọn bác sĩ</option>
                                {{#each display1}}
                                <option value="{{this.id_doc}}" class="{{this.id_dep}}"> 
                                    {{this.name}}
                                </option>
                                {{/each}}
                            </select>
                            {{#if errorDoctor}}
                            <span>Bạn chưa chọn bác sĩ</span>
                            {{/if}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="sensitive">
                        <label for="sensitive">Tiền sử dị ứng</label>
                        <textarea name="sensitive" id="sensitive" rows="5"></textarea>
                    </div>
                </div>  
                <div class="form-group">
                    <div class="sympton">
                        <label for="sympton">Biểu hiện bệnh </label>
                        <textarea name="sympton" id="sympton" rows="5"></textarea>
                    </div>
                </div>
                <div class="upload-img">
                    <label class="labelImg" for="image">Chọn ảnh <i class="fas fa-file-upload"></i></label>
                    <input type="file" name="image" id="image" size="4" title=" ">
                </div>
                {{!-- <button class="upload-img" type="button" formmethod="POST" name="image">Tải ảnh lên <i class="fas fa-upload"></i></button> --}}
            </form>
            <div class="form-submit">
                <button class="submit-form" type="submit" form="clt-form">Gửi yêu cầu tư vấn <i class="fas fa-paper-plane"></i></button>
            </div>
        </div>
    </div>
</section>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const serviceSelect = document.querySelector('#clt-form .service .degree select');
        const dep1Select = document.querySelectorAll('#clt-form .service .doctor option.DEP1');
        const dep2Select = document.querySelectorAll('#clt-form .service .doctor option.DEP2');
        const dep3Select = document.querySelectorAll('#clt-form .service .doctor option.DEP3');
        serviceSelect.addEventListener('change', () => {
            let checked = serviceSelect.value;
            if(checked == 'SER01' || checked == 'SER02' || checked == 'SER03'){
                
                dep1Select.forEach((element)=> element.style.display = 'block');
                dep2Select.forEach((element)=> element.style.display = 'none');
                dep3Select.forEach((element)=> element.style.display = 'none');
            }
            if(checked == 'SER04' || checked == 'SER05' || checked == 'SER06'){
                dep1Select.forEach((element)=> element.style.display = 'none');
                dep2Select.forEach((element)=> element.style.display = 'block');
                dep3Select.forEach((element)=> element.style.display = 'none');
            }
            if(checked == 'SER08' || checked == 'SER09' || checked == 'SER10'){
                dep1Select.forEach((element)=> element.style.display = 'none');
                dep2Select.forEach((element)=> element.style.display = 'none');
                dep3Select.forEach((element)=> element.style.display = 'block');
            }
            
        })
    })
</script>