{{!-- header starts --}}
<header class="header">
    <div class="taskbar">
    <div class="taskbar__name">
        <!-- <form action="" ></form> -->
        <input type="search" name="searchBox" id="searchBox" class="taskbar__search">
        <button class="searchBtn" form="searchBox" value="submit"><i class="fas fa-search"></i></button>
        
         <div href="#" class="taskbar__bell">
            <i class="fas fa-bell">
            </i>
            <ul class="annouce_list">
                {{#each lcAnnouce.display}}
                <li><a href="/consultation/detail/{{this.id}}" class="annouce__item ">
                    <div class="item__img">
                        <img src="/img/{{this.img}}" alt="">
                    </div>
                    <div class="item__content">
                        <i>Yêu cầu tư vấn</i>
                        <p>{{this.name}}</p>
                    </div>
                </a></li>
                {{/each}}
                {{#each lcAnnouceForPatient.annouceForPatient}}
                <li><a href="/consultation/reply/{{this.id_rep}}" class="annouce__item ">
                    <div class="item__img">
                        <img src="/img/{{this.img}}" alt="">
                    </div>
                    <div class="item__content">
                        <i>Trả lời tư vấn</i>
                        <p>{{this.name}}</p>
                    </div>
                </a></li>
                {{/each}}
                <a href="#"><span>XEM TẤT CẢ</span></a>
            </ul>
        </div>
        <div class="taskbar__user">
            {{#if lcIsAuthenticated}}
                <a href="#" class="user">
                    <img src="/img/{{lcAuthUser.img}}	" alt="" class="taskbar__user__img">
                    <ul class="user__options">
                        <li><a href="/setting" class="login">Cài đặt</a></li>
                        <li><a href="/logout" class="regist">Đăng xuất</a></li>
                    </ul>
                </a>
            {{else}}
                <a href="#" class="user">
                <i class="fas fa-user"></i>
                <ul class="user__options">
                    <li><a href="/login" class="login">Đăng nhập</a></li>
                    <li><a href="/register" class="regist">Đăng ký</a></li>
                </ul>
                </a>
            {{/if}}
        </div>
    </div>
</div>

<div class="menu">
    <div class="menu__main">                                              
        <a href="/" class="logo"><i class="fas fa-capsules"></i><span>O</span>Clinic</a>
        <ul class="menu__list">
            <li class="menu__item"><a href="/">Trang chủ</a></li>
            <li class="menu__item"><a href="/intro">Giới thiệu</a></li>
            <li class="menu__item news"><a href="/news">Tin tức</a></li>
            <li class="menu__item doctors active"><a href="/doctors">Bác sĩ
                <ul class="doctor">
                    <li><a href="/doctors/department/DEP1">Ngoại khoa</a></li>
                    <li><a href="/doctors/department/DEP2">Nội Khoa</a></li>
                    <li><a href="/doctors/department/DEP3">Nhi Khoa</a></li>
                </ul>
            </a></li>
            <li class="menu__item large"><a href="/articles">Bài viết chuyên môn</a></li>
            <li class="menu__item"><a href="/consultation">Tư vấn</a></li>
            <li class="menu__item"><a href="/contact">Liên hệ</a></li>
        </ul>
    </div>
</div>
</header>

{{!-- header ends --}}




{{!-- home starts --}}
<section class="doctorSection home">
    <div class="doctorSection__container">
        <div class="container">
            {{#with display}}
            <div class="doctorDetail">
                <div class="doctor_img">
                    {{!-- <img src="https://drive.google.com/uc?export=view&id={{this.img}}" alt=""> --}}
                    <img src="/img/{{this.img}}" alt="{{this.name}}">
                </div>
                <div class="doctor_decription">
                    <h3 class="doctor">Bác sĩ</h3>
                    <h3 class="name">{{this.name}}</h3>
                    <ul class="decription">
                        <li><i class="far fa-calendar-minus"></i>  Ngày sinh: {{this.dob}}</li>
                        <li><i class="fas fa-mobile-alt"></i>  Số điện thoại: {{this.phonenum}}</li>
                        <li><i class="far fa-envelope"></i>   Email:  {{this.email}}</li>
                        <li><i class="fas fa-user-graduate"></i>   Học vị:     {{convertToVNese this.degree}}</li>
                        <li><i class="far fa-hospital"></i>   Khoa:     {{this.department}}</li>
                        <li><i class="fas fa-map-marker"></i>  Vị trí:   {{this.postition}}</li>
                        <li><i class="far fa-user"></i>  Tiếu sử:    {{this.description}}</li>
                    </ul>
                </div>
            </div>
            {{/with}}
        </div>
    </div>

</section>
{{!-- home ends --}}