{{!-- header starts --}}
<header class="header">
    <div class="taskbar">
    <div class="taskbar__name">
        <!-- <form action="" ></form> -->
        <input type="search" name="searchBox" id="searchBox" class="taskbar__search">
        <button class="searchBtn" form="searchBox" value="submit"><i class="fas fa-search"></i></button>
        
         <div href="#" class="taskbar__bell">
            <i class="fas fa-bell">
            </i>
            <ul class="annouce_list">
                {{#each lcAnnouce.display}}
                <li><a href="/consultation/detail/{{this.id}}" class="annouce__item ">
                    <div class="item__img">
                        <img src="/img/{{this.img}}" alt="">
                    </div>
                    <div class="item__content">
                        <i>Yêu cầu tư vấn</i>
                        <p>{{this.name}}</p>
                    </div>
                </a></li>
                {{/each}}
                {{#each lcAnnouceForPatient.annouceForPatient}}
                <li><a href="/consultation/reply/{{this.id_rep}}" class="annouce__item ">
                    <div class="item__img">
                        <img src="/img/{{this.img}}" alt="">
                    </div>
                    <div class="item__content">
                        <i>Trả lời tư vấn</i>
                        <p>{{this.name}}</p>
                    </div>
                </a></li>
                {{/each}}
                <a href="#"><span>XEM TẤT CẢ</span></a>
            </ul>
        </div>
        <div class="taskbar__user">
            {{#if lcIsAuthenticated}}
                <a href="#" class="user">
                    <img src="/img/{{lcAuthUser.img}}" alt="" class="taskbar__user__img">
                    <ul class="user__options">
                        <li><a href="/setting" class="login">Cài đặt</a></li>
                        <li><a href="/logout" class="regist">Đăng xuất</a></li>
                    </ul>
                </a>
            {{else}}
                <a href="#" class="user">
                <i class="fas fa-user"></i>
                <ul class="user__options">
                    <li><a href="/login" class="login">Đăng nhập</a></li>
                    <li><a href="/register" class="regist">Đăng ký</a></li>
                </ul>
                </a>
            {{/if}}
        </div>
    </div>
</div>

<div class="menu">
    <div class="menu__main">                                              
        <a href="/" class="logo"><i class="fas fa-capsules"></i><span>O</span>Clinic</a>
        <ul class="menu__list">
            <li class="menu__item"><a href="/">Trang chủ</a></li>
            <li class="menu__item"><a href="/intro">Giới thiệu</a></li>
            <li class="menu__item news active"><a href="/news">Tin tức</a></li>
            <li class="menu__item doctors"><a href="/doctors">Bác sĩ
                <ul class="doctor">
                    <li><a href="/doctors/department/DEP1">Ngoại khoa</a></li>
                    <li><a href="/doctors/department/DEP2">Nội Khoa</a></li>
                    <li><a href="/doctors/department/DEP3">Nhi Khoa</a></li>
                </ul>
            </a></li>
            <li class="menu__item large"><a href="/articles">Bài viết chuyên môn</a></li>
            <li class="menu__item"><a href="/consultation">Tư vấn</a></li>
            <li class="menu__item"><a href="/contact">Liên hệ</a></li>
        </ul>
    </div>
</div>
</header>

{{!-- header ends --}}


{{!-- {{#each user2}}
<p style="font-size: 30px;">{{this.id}} {{this.Ho_Ten}} {{this.Score}} Dob: {{this.DoB}}</p>{{/each}} --}}
{{!-- <script src="/script/news.js"></script> --}}

<section class="home homeNews">
    <div class="main_news">
        <div class="content">
            <div class="content__img">
                <img src="https://i1-suckhoe.vnecdn.net/2021/11/11/be-nh-vie-n-tu-du-jpeg-1636635-9264-9254-1636640345.jpg?w=680&h=408&q=100&dpr=1&fit=crop&s=Ltcvzm9-zZEXucEJ7ef5fw" alt="news">
            </div>
            <div class="content__quote">
                <a href="#">
                    <h3>Gần 100 y bác sĩ TP HCM hỗ trợ Sóc Trăng tiêm chủng</h3>
                </a>
                <p>TP HCM Gần 100 nhân viên y tế tại 6 bệnh viện gồm An Bình, Nguyễn Trãi, Từ Dũ, Chấn thương Chỉnh hình, Đa khoa Khu vực Thủ Đức, Viện Tim chi viện Sóc Trăng, ngày 11/11.</p>
                <span>3h trước</span>
            </div>
        </div>
    </div>
    <div class="slide_news">
        <div class="swiper container">
            <div class="wrapper swiper-wrapper">
                <div class="swiper-slide slide">
                    <div class="slide__content">
                        <div class="news-list">
                            <div class="news-item">
                                <img src="https://i1-suckhoe.vnecdn.net/2021/11/11/hinh1-1636616530-1636616543-9592-1636617206.jpg?w=220&h=132&q=100&dpr=1&fit=crop&s=rHi9LoS8AsA2mDH2CFcMAA" alt="">
                                <a href="#">
                                    <p>Gia tăng bệnh về mắt ở học sinh trong thời dịch</p>
                                </a>
                            </div>
                            <div class="news-item">
                                <img src="https://i1-suckhoe.vnecdn.net/2021/11/11/be-nh-vie-n-tu-du-jpeg-1636635-9264-9254-1636640345.jpg?w=220&h=132&q=100&dpr=1&fit=crop&s=VSFJQGH9LcDbC2mmujYLPg" alt="">
                                <a href="#">
                                    <p>Gần 100 y bác sĩ TP HCM hỗ trợ Sóc Trăng tiêm chủng</p>
                                </a>
                            </div>
                            <div class="news-item">
                                <img src="https://i1-suckhoe.vnecdn.net/2021/11/11/suame-1636616937-9216-1636616951.jpg?w=220&h=132&q=100&dpr=1&fit=crop&s=3G2GSX5NV2mwXEvnJKSWGw" alt="">
                                <a href="#">
                                    <p>Có thể lây Covid-19 từ sữa mẹ sang con?</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="remarkable_news">
        <div class="content">
            <div class="news_title"><h3>Đáng chú ý</h3></div>
            <div class="news_item">
                <div class="news_item__img"><img src="https://i1-vnexpress.vnecdn.net/2021/11/11/dsc09954-jpg-1636616606-5898-1636617083.jpg?w=220&h=132&q=100&dpr=1&fit=crop&s=uTVIm13IoNMSEsyZoAkBDQ" alt=""></div>
                <div class="news_item__content"><a>Y tế miền Tây quá tải</a></div>
            </div>
            <div class="news_item">
                <div class="news_item__img"><img src="https://i1-suckhoe.vnecdn.net/2021/11/13/300015-1636777233-6195-1636777352.jpg?w=220&h=132&q=100&dpr=1&fit=crop&s=tUy4xX90TDWsmmNlBPNf_Q" alt=""></div>
                <div class="news_item__content"><a>Vaccine Covid-19 duy trì hiệu quả trong bao lâu?</a></div>
            </div>
            <div class="news_item">
                <div class="news_item__img"><img src="https://i1-suckhoe.vnecdn.net/2021/11/12/1-1636709860-1750-1636709877.jpg?w=220&h=132&q=100&dpr=1&fit=crop&s=P4IPBhnq3PqAKfCwjyiMUQ" alt=""></div>
                <div class="news_item__content"><a>Trẻ sơ sinh có thể lây nCoV từ trong bụng mẹ</a></div>
            </div>
            <div class="news_item">
                <div class="news_item__img"><img src="https://i1-suckhoe.vnecdn.net/2021/11/12/quyn7200-1636631134-9090-1636682478.jpg?w=220&h=132&q=100&dpr=1&fit=crop&s=EVy8IP7QEN4Yr2vMKkpAxg" alt=""></div>
                <div class="news_item__content"><a>Tại sao nên tiêm mũi vaccine Covid-19 thứ ba?</a></div>
            </div>
        </div>
    </div>
    <div class="news_list">
        <div class="content">
            <div class="news_item">
                <div class="new_img">
                    <img src="https://i1-suckhoe.vnecdn.net/2021/11/16/phu-do-4-7965-1637042467-1-163-4049-3817-1637063846.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=_Px1mefbeyvSJ9wArfSFVA" alt="">
                </div>
                <div class="news_content">
                    <a href="#">F0 tăng, Hà Nội tìm người đến nhiều điểm dịch tễ</a>
                    <p>Bộ Y tế tối 16/11 công bố 158 ca Covid-19 tại Hà Nội trong 24 giờ qua; Trung tâm Y tế huyện Sóc Sơn tìm người từng đến nhiều điểm dịch tễ.</p>
                    <span>1h trước</span>
                </div>
            </div>
            <div class="news_item">
                <div class="new_img">
                    <img src="https://i1-suckhoe.vnecdn.net/2021/11/16/1-1986-1637051333.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=8qPGIIGJV8PaVNFuL0buSQ" alt="">
                </div>
                <div class="news_content">
                    <a href="#">Tiếp nhận 50.000 liều vaccine Covid-19 từ Áo</a>
                    <p>Chiều 16/11, Bộ Y tế tiếp nhận 50.000 liều vaccine AstraZeneca do Áo tặng Việt Nam phục vụ công tác phòng chống dịch.</p>
                    <span>1h trước</span>
                </div>
            </div>
            <div class="news_item">
                <div class="new_img">
                    <img src="https://i1-suckhoe.vnecdn.net/2021/11/16/13-11-202121-2775-1637053529.png?w=1020&h=0&q=100&dpr=1&fit=crop&s=Q_4WNNOylBfcam4GDg_yLA" alt="">
                </div>
                <div class="news_content">
                    <a href="#">Bill Gates mang giải pháp xét nghiệm Covid-19 giá rẻ cho châu Phi</a>
                    <p>Quỹ Bill & Melinda Foundation mang hơn 5.000 máy xét nghiệm nhanh Covid-19 với chi phí thấp, đến các quốc gia châu Phi trong cam kết hỗ trợ 17 triệu USD</p>
                    <span>2h trước</span>
                </div>
            </div>
            <div class="news_item">
                <div class="new_img">
                    <img src="https://i1-suckhoe.vnecdn.net/2021/11/15/cham-cap-thuoc-f0-1636976385-4973-1636977027.jpg?w=220&h=132&q=100&dpr=1&fit=crop&s=0eniHkh-EqlG0QbBWS7Ueg" alt="">
                </div>
                <div class="news_content">
                    <a href="#">Sở Y tế TP HCM chấn chỉnh tình trạng chậm cấp túi thuốc cho F0</a>
                    <p>Trước tình trạng F0 không liên hệ được trạm y tế để được tư vấn, cấp các túi thuốc, Sở Y tế nhắc nhở và lập 10 đoàn kiểm tra.
                    </p>
                    <span>3h trước</span>
                </div>
            </div>
            <div class="news_item">
                <div class="new_img">
                    <img src="https://i1-suckhoe.vnecdn.net/2021/11/16/phu-do-4-7965-1637042467-1-163-4049-3817-1637063846.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=_Px1mefbeyvSJ9wArfSFVA" alt="">
                </div>
                <div class="news_content">
                    <a href="#">F0 tăng, Hà Nội tìm người đến nhiều điểm dịch tễ</a>
                    <p>Bộ Y tế tối 16/11 công bố 158 ca Covid-19 tại Hà Nội trong 24 giờ qua; Trung tâm Y tế huyện Sóc Sơn tìm người từng đến nhiều điểm dịch tễ.</p>
                    <span>1h trước</span>
                </div>
            </div>
            <div class="news_item">
                <div class="new_img">
                    <img src="https://i1-suckhoe.vnecdn.net/2021/11/16/1-1986-1637051333.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=8qPGIIGJV8PaVNFuL0buSQ" alt="">
                </div>
                <div class="news_content">
                    <a href="#">Tiếp nhận 50.000 liều vaccine Covid-19 từ Áo</a>
                    <p>Chiều 16/11, Bộ Y tế tiếp nhận 50.000 liều vaccine AstraZeneca do Áo tặng Việt Nam phục vụ công tác phòng chống dịch.</p>
                    <span>1h trước</span>
                </div>
            </div>
            <div class="news_item">
                <div class="new_img">
                    <img src="https://i1-suckhoe.vnecdn.net/2021/11/16/13-11-202121-2775-1637053529.png?w=1020&h=0&q=100&dpr=1&fit=crop&s=Q_4WNNOylBfcam4GDg_yLA" alt="">
                </div>
                <div class="news_content">
                    <a href="#">Bill Gates mang giải pháp xét nghiệm Covid-19 giá rẻ cho châu Phi</a>
                    <p>Quỹ Bill & Melinda Foundation mang hơn 5.000 máy xét nghiệm nhanh Covid-19 với chi phí thấp, đến các quốc gia châu Phi trong cam kết hỗ trợ 17 triệu USD</p>
                    <span>2h trước</span>
                </div>
            </div>
            <div class="news_item">
                <div class="new_img">
                    <img src="https://i1-suckhoe.vnecdn.net/2021/11/15/cham-cap-thuoc-f0-1636976385-4973-1636977027.jpg?w=220&h=132&q=100&dpr=1&fit=crop&s=0eniHkh-EqlG0QbBWS7Ueg" alt="">
                </div>
                <div class="news_content">
                    <a href="#">Sở Y tế TP HCM chấn chỉnh tình trạng chậm cấp túi thuốc cho F0</a>
                    <p>Trước tình trạng F0 không liên hệ được trạm y tế để được tư vấn, cấp các túi thuốc, Sở Y tế nhắc nhở và lập 10 đoàn kiểm tra.
                    </p>
                    <span>3h trước</span>
                </div>
            </div>
            <div class="news_item">
                <div class="new_img">
                    <img src="https://i1-suckhoe.vnecdn.net/2021/11/16/phu-do-4-7965-1637042467-1-163-4049-3817-1637063846.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=_Px1mefbeyvSJ9wArfSFVA" alt="">
                </div>
                <div class="news_content">
                    <a href="#">F0 tăng, Hà Nội tìm người đến nhiều điểm dịch tễ</a>
                    <p>Bộ Y tế tối 16/11 công bố 158 ca Covid-19 tại Hà Nội trong 24 giờ qua; Trung tâm Y tế huyện Sóc Sơn tìm người từng đến nhiều điểm dịch tễ.</p>
                    <span>1h trước</span>
                </div>
            </div>
            <div class="news_item">
                <div class="new_img">
                    <img src="https://i1-suckhoe.vnecdn.net/2021/11/16/1-1986-1637051333.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=8qPGIIGJV8PaVNFuL0buSQ" alt="">
                </div>
                <div class="news_content">
                    <a href="#">Tiếp nhận 50.000 liều vaccine Covid-19 từ Áo</a>
                    <p>Chiều 16/11, Bộ Y tế tiếp nhận 50.000 liều vaccine AstraZeneca do Áo tặng Việt Nam phục vụ công tác phòng chống dịch.</p>
                    <span>1h trước</span>
                </div>
            </div>
            <div class="news_item">
                <div class="new_img">
                    <img src="https://i1-suckhoe.vnecdn.net/2021/11/16/13-11-202121-2775-1637053529.png?w=1020&h=0&q=100&dpr=1&fit=crop&s=Q_4WNNOylBfcam4GDg_yLA" alt="">
                </div>
                <div class="news_content">
                    <a href="#">Bill Gates mang giải pháp xét nghiệm Covid-19 giá rẻ cho châu Phi</a>
                    <p>Quỹ Bill & Melinda Foundation mang hơn 5.000 máy xét nghiệm nhanh Covid-19 với chi phí thấp, đến các quốc gia châu Phi trong cam kết hỗ trợ 17 triệu USD</p>
                    <span>2h trước</span>
                </div>
            </div>
            <div class="news_item">
                <div class="new_img">
                    <img src="https://i1-suckhoe.vnecdn.net/2021/11/15/cham-cap-thuoc-f0-1636976385-4973-1636977027.jpg?w=220&h=132&q=100&dpr=1&fit=crop&s=0eniHkh-EqlG0QbBWS7Ueg" alt="">
                </div>
                <div class="news_content">
                    <a href="#">Sở Y tế TP HCM chấn chỉnh tình trạng chậm cấp túi thuốc cho F0</a>
                    <p>Trước tình trạng F0 không liên hệ được trạm y tế để được tư vấn, cấp các túi thuốc, Sở Y tế nhắc nhở và lập 10 đoàn kiểm tra.
                    </p>
                    <span>3h trước</span>
                </div>
            </div>
            <div class="news_item">
                <div class="new_img">
                    <img src="https://i1-suckhoe.vnecdn.net/2021/11/16/phu-do-4-7965-1637042467-1-163-4049-3817-1637063846.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=_Px1mefbeyvSJ9wArfSFVA" alt="">
                </div>
                <div class="news_content">
                    <a href="#">F0 tăng, Hà Nội tìm người đến nhiều điểm dịch tễ</a>
                    <p>Bộ Y tế tối 16/11 công bố 158 ca Covid-19 tại Hà Nội trong 24 giờ qua; Trung tâm Y tế huyện Sóc Sơn tìm người từng đến nhiều điểm dịch tễ.</p>
                    <span>1h trước</span>
                </div>
            </div>
            <div class="news_item">
                <div class="new_img">
                    <img src="https://i1-suckhoe.vnecdn.net/2021/11/16/1-1986-1637051333.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=8qPGIIGJV8PaVNFuL0buSQ" alt="">
                </div>
                <div class="news_content">
                    <a href="#">Tiếp nhận 50.000 liều vaccine Covid-19 từ Áo</a>
                    <p>Chiều 16/11, Bộ Y tế tiếp nhận 50.000 liều vaccine AstraZeneca do Áo tặng Việt Nam phục vụ công tác phòng chống dịch.</p>
                    <span>1h trước</span>
                </div>
            </div>
            <div class="news_item">
                <div class="new_img">
                    <img src="https://i1-suckhoe.vnecdn.net/2021/11/16/13-11-202121-2775-1637053529.png?w=1020&h=0&q=100&dpr=1&fit=crop&s=Q_4WNNOylBfcam4GDg_yLA" alt="">
                </div>
                <div class="news_content">
                    <a href="#">Bill Gates mang giải pháp xét nghiệm Covid-19 giá rẻ cho châu Phi</a>
                    <p>Quỹ Bill & Melinda Foundation mang hơn 5.000 máy xét nghiệm nhanh Covid-19 với chi phí thấp, đến các quốc gia châu Phi trong cam kết hỗ trợ 17 triệu USD</p>
                    <span>2h trước</span>
                </div>
            </div>
            <div class="news_item">
                <div class="new_img">
                    <img src="https://i1-suckhoe.vnecdn.net/2021/11/15/cham-cap-thuoc-f0-1636976385-4973-1636977027.jpg?w=220&h=132&q=100&dpr=1&fit=crop&s=0eniHkh-EqlG0QbBWS7Ueg" alt="">
                </div>
                <div class="news_content">
                    <a href="#">Sở Y tế TP HCM chấn chỉnh tình trạng chậm cấp túi thuốc cho F0</a>
                    <p>Trước tình trạng F0 không liên hệ được trạm y tế để được tư vấn, cấp các túi thuốc, Sở Y tế nhắc nhở và lập 10 đoàn kiểm tra.
                    </p>
                    <span>3h trước</span>
                </div>
            </div>
            <div class="pagination_group">
                <nav aria-label="...". class="pagination_nav">
                    <ul class="pagination">
                        <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                    </nav>
            </div>
        </div>
    </div>
</section>